@font-face{
    font-family: "Roboto", sans-serif;
    src: url('./font/Roboto-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
              /* NavBar Start */

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f6f6f6;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
}

.navBar img{
    width: 150px;
    height: 80px;
}

.menuList{
    height: 100%;
    font-family: "Roboto",sans-serif;
}

.menuList a{
    text-decoration: none;
    color: rgb(74, 155, 155);
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
}

.main{
    width: 200px;
    padding: 5px;
    border: 2px solid rgb(74, 155, 155);
    border-radius: 15px;
}

.main input{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 150px;
}

.main img{
    width: 12px;
    height: 12px;
    color: rgb(74, 155, 155);
}

.menuList a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown fa fa-list{
  color: black;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: rgb(74, 155, 155);
  padding: 10px 10px;
  background-color: inherit;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  align-items: center;
  align-content: center;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(74, 155, 155);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
                /* navBar End */

                /* mainArea Start */
#mainArea{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/clothing-rack.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: slider 30s infinite;
}

@keyframes slider{
  0%{background-image: url(../image/clothing-rack.jpg);
  }
  50%{background-image: url(../image/image15.jpg);
  }
  75%{background-image: url(../image/image16.jpg);
  }
  from {opacity: 1}
  to {opacity: 1}
}

.overley{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 100px;
}

.overley h1{
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.overley h3{
  color: rgb(255, 255, 255);
  font-size: 15px;
}

.overley a{
  text-decoration: none;
  color: rgb(29, 239, 193);
  font-size: 13px;
}

.overley h2{
  color: rgb(255, 255, 255);
  font-size: 150px;
}

/* Category Area Start */

.category{
  width: 100%;
  height: 400px;
  padding-top: 20px;
}

.category h1{
  display: flex;
  justify-content: center;
  color: rgb(74, 155, 155);
}

.Image{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 10px 0px 10px;
}

.Image{
  position: relative;
}
      /* image1 Start */

.image1 img{
  width: 300px;
  height: 300px;
}

.Image .image1 .desc{
  position: absolute;
  color: #ffffff;
  bottom: 60px;
  left: 120px;
  /* visibility: hidden; */
}

.Image .image1 img:hover{
  border: 3px solid rgb(74, 155, 155);
  border-radius: 50px;
}

/* .Image .image1:hover .desc{
  visibility: visible;
} */

.image1 .desc h5{
  font-size: 40px;
  opacity: 70%;
  color: #fff;
}
       /* image2 Start */

.image2 img{
  width: 300px;
  height: 300px;
}

.Image .image2 .desc{
  position: absolute;
  color: #ffffff;
  bottom: 60px;
  left: 430px;
  /* visibility: hidden; */
}

.Image .image2 img:hover{
  border: 3px solid rgb(75, 155, 155);
  border-radius: 50px;
}

/* .Image .image2:hover .desc{
  visibility: visible;
} */

.image2 .desc h5{
  font-size: 40px;
  opacity: 70%;
  color: #fff;
}

       /* image3 Start */

.image3 img{
  width: 300px;
  height: 300px;
}

.Image .image3 .desc{
  position: absolute;
  color: #ffffff;
  bottom: 60px;
  left: 720px;
  /* visibility: hidden; */
}

.Image .image3 img:hover{
  border: 3px solid rgb(75, 155, 155);
  border-radius: 50px;
}

/* .Image .image3:hover .desc{
  visibility: visible;
} */

.image3 .desc h5{
  font-size: 40px;
  opacity: 70%;
  color: #fff;
}
      /* image4 Start */
.image4 img{
  width: 300px;
  height: 300px;
}

.Image .image4 .desc{
  position: absolute;
  color: #ffffff;
  bottom: 60px;
  left: 1040px;
  /* visibility: hidden; */

}

.Image .image4 img:hover{
  border: 3px solid rgb(75,155,155);
  border-radius: 50px;
}

/* .Image .image4:hover .desc{
  visibility: visible;
} */

.image4 .desc h5{
  font-size: 40px;
  opacity: 70%;
  color: #fff;
}

    /* Collection Area Start */
.collName{
  width: 100%;
  height: 30px;
  text-align: center;
  color: rgb(75,155,155);
}

.collectionArea{
  flex-wrap: wrap;
  gap: 3px;
  margin: auto;
  margin-top: 25px;
  height: 1021.5px;
  width: 97%;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  background-color: #f6f6f7;
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
}
.collImage img{
  position: absolute;
}
.collImage img{
  width: 200px;
  height: 250px;
}

.collImage img:hover{
  border: 2px solid black;
  border-radius: 5px;
}

.collImage h1{
  position: relative;
  font-size: 30px;
  color: #fff;
  /* padding: 110px 70px; */
  /* visibility: hidden; */
  text-align: center;
}

.collImage h1:hover{
  visibility: visible;
}

/* FooterArea Start */

.footer{
  margin-top: 20px;
  height: 450px;
  width: 100%;
  background-color: beige;
  display: flex;
}

.footer .map{
  height: 450px;
  width: 50%;
  border: 1.5px solid black;
}
.footer .box2{
  height: 450px;
  width: 50%;
}

.footer .box2 .form{
  height: 320px;
  width: 80%;
  margin: auto;
  box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);
  background-color: rgb(34, 32, 52);
  border: 2px solid white;
}

.box2 .form{
  font-size: 20px;
  color: rgb(255, 255, 255);
  padding: 11px 20px 11px 20px;
}

.box2 .form .name input{
  height: 30px;
  width: 450px;
  background: transparent;
  border: 0;
  color: rgb(203, 203, 203);
  font-style: italic;
}

.box2 .form .email input{
  height: 30px;
  width: 450px;
  background: transparent;
  border: 0;
  color: rgb(203, 203, 203);
  font-style: italic;
}
.box2 .form .msg input{
  height: 90px;
  width: 450px;
  background: transparent;
  border: 0;
  color: rgb(203, 203, 203);
  font-style: italic;
}

/* icons */
.footer .icon{
  margin-top: 50px;
  font-size: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer .icon .facebook:hover{
  color: rgb(3, 3, 255);
}
.footer .icon .twitter:hover{
  color: blue;
}
.footer .icon .instagram:hover{
  color: rgb(237, 151, 165);
}
.footer .icon .linkedin:hover{
  color: rgb(88, 88, 251);
}
.footer .icon .youtube:hover{
  color: rgb(255, 3, 3);
}

/* copyright */
.footer .copyright h1{
  margin-top: 20px;
  text-align: center;
  color: rgb(169, 169, 169);
  font-size: 15px;
}