@font-face{
    font-family: "Roboto", sans-serif;
    src: url('./font/Roboto-Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
              /* NavBar Start */

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #f6f6f6;
    box-shadow: 0px 6px 14px 0px rgba(0,0,0,0.2);

}

.navBar img{
    width: 150px;
    height: 80px;
}

.menuList{
    height: 100%;
    font-family: "Roboto",sans-serif;
}

.menuList a{
    text-decoration: none;
    color: rgb(74, 155, 155);
    padding: 15px;
    font-size: 15px;
    font-weight: 500;
}

.main{
    width: 200px;
    padding: 5px;
    border: 2px solid rgb(74, 155, 155);
    border-radius: 15px;
}

.main input{
    background: transparent;
    border: 0px;
    outline: 0px;
    width: 150px;
}

.main img{
    width: 12px;
    height: 12px;
    color: rgb(74, 155, 155);
}

.menuList a:hover {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown fa fa-list{
  color: black;
}

.dropdown .dropbtn {
  border: none;
  outline: none;
  color: rgb(74, 155, 155);
  padding: 10px 10px;
  background-color: inherit;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  align-items: center;
  align-content: center;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: white;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: rgb(74, 155, 155);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: "Roboto",sans-serif;
  font-size: 15px;
  font-weight: 500;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
                /* navBar End */

                /* mainArea Start */
#mainArea{
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../image/clothing-rack.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.overley{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  padding-left: 100px;
}

.overley h1{
  color: rgb(255, 255, 255);
  font-size: 40px;
}

.overley h2{
  color: rgb(255, 255, 255);
  font-size: 100px;
}

.overley button{
  margin-top: 30px;
  font-size: 20px;
  height: 40px;
  width: 100px;
  border-radius:7px 20px 20px 7px;
  background-color: rgb(49, 160, 204);
}

button a{
  text-decoration: none;
  color: #f6f6f6;
  font-weight: 600;
}

          /* CategoryArea Start */

.category{
  width:100%;
  height:500px;
  background-color:rgb(101, 102, 102);
  padding:25px 0px;
}
.category h1{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  color: white;
}
.image1{
  position: relative;
}
.img{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img .image1 img{
  height:250px;
  width: 250px;
}
.img .image1 .desc{
 position: absolute;
 bottom:70px;
 right:120px;
 color:white;
 visibility: hidden;
}
.img .image1:hover .desc{
  visibility: visible;
}
.img .image1 img:hover{
  border:1px solid white;
}